body {
	margin: 0;
}

.box {
	height: 300px;
	width: 600px;
	border: 1px solid black;
	margin: 0 auto;
	position: static;
}

.box .snowman {
	font-size: 40px;
}

.one {
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 50px;
	height: 50px;

}
.two {
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 50px;
	height: 50px;
	margin-left: 50px;
	
}
.three {
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 50px;
	height: 50px;
	margin-left: 100px;

}
.four {
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 50px;
	height: 50px;
	margin-left: 150px;
	
}
.five {
	border-top: 1px solid black;
	border-right: 1px solid black;
	width: 50px;
	height: 43px;
	margin-left: 200px;

}